# Task 3: Creating Queries

This code file is a copy of the SQL queries I performed in Google Big Query to pull the required dataset for each table.

# Table 1 Query

In [ ]:
SELECT
EXTRACT(date from datetime) as date,
EXTRACT(HOUR from datetime) as hour,
sum(total) as total_spend,
COUNT(DISTINCT Concat
(cast(EXTRACT(date from datetime) as string), 
cast(register_no as string),
cast(emp_no as string),
 cast(trans_no as string))) as num_trans,
SUM(CASE WHEN trans_status in ('V','R') THEN -1
ELSE 1 END) AS items
FROM `umt-msba.wedge_transactions.transArchive_20*`
WHERE department not in (0,15)
AND (trans_status is NULL or
        trans_status in (' ', 'V', 'R'))
GROUP BY date, hour
ORDER BY date, hour;

# Table 2 Query

In [ ]:
SELECT 
distinct(card_no) as card_no,
EXTRACT(YEAR from datetime) as year,
EXTRACT(MONTH from datetime) as month,
sum(total) as sales,
COUNT(DISTINCT Concat
(cast(EXTRACT(date from datetime) as string), 
cast(register_no as string),
cast(emp_no as string),
 cast(trans_no as string))) as transactions,
SUM(CASE WHEN trans_status in ('V','R') THEN -1
ELSE 1 END) AS items
 FROM `umt-msba.wedge_transactions.transArchive_20*`
 GROUP BY card_no,year,month
 order by year, month;

# Table 3 Query

In [ ]:
SELECT
 trans.upc,
 trans.description,
 trans.department as dept_number,
 Dept.dept_name,
 extract(YEAR from trans.datetime) as year,
 extract (MONTH from trans.datetime) as month,
sum(total) as sales,
COUNT(DISTINCT Concat
(cast(EXTRACT(date from datetime) as string), 
cast(register_no as string),
cast(emp_no as string),
 cast(trans_no as string))) as transactions,
SUM(CASE WHEN trans_status in ('V','R') THEN -1
ELSE 1 END) AS items
FROM `umt-msba.wedge_transactions.transArchive_20*` as trans
JOIN `umt-msba.wedge_example.departments` AS Dept ON Dept.department = trans.department
group by description, upc, year, month, trans.department, Dept.dept_name