In [1]:
import sqlite3
import os
import pandas as pd

In [2]:
##First I need to create a database

db_1 = sqlite3.connect("Task_3_Database.db")

In [3]:
# create my cursor to interact

cur_1 = db_1.cursor()

# Create our Tables

In [4]:
##create a table with matching columns for sales_by_date_hour

cur_1.execute('''DROP TABLE IF EXISTS sales_by_date_hour''')
cur_1.execute('''CREATE TABLE sales_by_date_hour (
    date DATE,
    hour INTEGER,
    total_spend FLOAT,
    num_trans INTEGER,
    items INTEGER)''')

In [5]:
##create a table with matching columns for sales_by_owner_year_month

cur_1.execute('''DROP TABLE IF EXISTS sales_by_owner_year_month''')
cur_1.execute('''CREATE TABLE sales_by_owner_year_month (
    card_no FLOAT,
    year INTEGER,
    month INTEGER,
    sales FLOAT,
    transactions INTEGER,
    items INTEGER)''')

In [6]:
##create a table with matching columns for sales_by_product_description

cur_1.execute('''DROP TABLE IF EXISTS sales_by_product_description''')
cur_1.execute('''CREATE TABLE sales_by_product_description (
    upc STRING,
    description STRING,
    dept_number FLOAT,
    dept_name STRING,
    year INTEGER,
    month INTEGER,
    sales FLOAT,
    transactions INTEGER,
    items INTEGER)''')

In [7]:
db_1.commit()

# Read in Files and Fill Tables

In [8]:
## now let's fill sales_by_date_hour table with information from the date hour csv file first read in the file
#then create a list of lists with each line of the file

#owner_prod = []
with open("Sales by date hour Wedge Task 1.csv",'r') as infile :
    next(infile)
    
    for line in infile :
        line = line.strip().split(",")
        #owner_prod.append(line)
        
        #now insert those lines into our table
        cur_1.execute('''
            INSERT INTO sales_by_date_hour(date,hour,total_spend,num_trans,items)VALUES(?,?,?,?,?)''',line)

In [9]:
db_1.commit()

In [10]:
## now let's fill sales_by_date_hour table with information from the date hour csv file first read in the file
owner_prod2 = []
with open("Wedge 3 Table 2.csv",'r') as infile :
    next(infile)
    
    for line in infile :
        line = line.strip().split(",")
        owner_prod2.append(line)
        
        #now insert those lines into our table
        cur_1.execute('''
            INSERT INTO sales_by_owner_year_month (card_no,year,month,sales,transactions,items)VALUES(?,?,?,?,?,?)''',line)

In [13]:
db_1.commit()

In [14]:
## now let's fill sales_by_date_hour table with information from the date hour csv file first read in the file
owner_prod3 = []
with open("Wedge 3 Table 3.csv",'r') as infile :
    next(infile)
    
    for line in infile :
        line = line.strip().split(",")
        owner_prod3.append(line)
        
        #now insert those lines into our table
        cur_1.execute('''
            INSERT INTO sales_by_product_description(upc,description,dept_number,dept_name,year,month,sales,transactions,items
            )VALUES(?,?,?,?,?,?,?,?,?)''',line)

In [15]:
db_1.commit()

In [ ]:
##Task Done